In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series(np.arange(5),index=[1,2,3,4,5])
s1

1    0
2    1
3    2
4    3
5    4
dtype: int32

In [3]:
s1.drop(4)

1    0
2    1
3    2
5    4
dtype: int32

In [4]:
df1 = pd.DataFrame(np.random.randn(4,5),index=['r1','r2','r3','r4'],columns=['c1','c2','c3','c4','c5'])
df1

          c1        c2        c3        c4        c5
r1  0.046908 -1.237756  1.304494  0.080922  0.116972
r2 -1.111579 -1.015598  0.960749 -0.123731  1.858348
r3  0.965358 -0.476149 -0.503893 -1.629291 -0.207621
r4  0.396288 -0.539705  1.675211 -1.945971  0.855843

In [5]:
df1.drop('r1')

          c1        c2        c3        c4        c5
r2 -1.111579 -1.015598  0.960749 -0.123731  1.858348
r3  0.965358 -0.476149 -0.503893 -1.629291 -0.207621
r4  0.396288 -0.539705  1.675211 -1.945971  0.855843

In [6]:
df1.drop('c5',axis=1)

          c1        c2        c3        c4
r1  0.046908 -1.237756  1.304494  0.080922
r2 -1.111579 -1.015598  0.960749 -0.123731
r3  0.965358 -0.476149 -0.503893 -1.629291
r4  0.396288 -0.539705  1.675211 -1.945971

In [7]:
df1

          c1        c2        c3        c4        c5
r1  0.046908 -1.237756  1.304494  0.080922  0.116972
r2 -1.111579 -1.015598  0.960749 -0.123731  1.858348
r3  0.965358 -0.476149 -0.503893 -1.629291 -0.207621
r4  0.396288 -0.539705  1.675211 -1.945971  0.855843

In [8]:
df1.drop('c5',axis=1,inplace=True)

In [9]:
df1

          c1        c2        c3        c4
r1  0.046908 -1.237756  1.304494  0.080922
r2 -1.111579 -1.015598  0.960749 -0.123731
r3  0.965358 -0.476149 -0.503893 -1.629291
r4  0.396288 -0.539705  1.675211 -1.945971