In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series(np.arange(5),index=['A','B','C','D','E'])
s1

A    0
B    1
C    2
D    3
E    4
dtype: int32

In [3]:
s1['B']

1

In [4]:
s1[['A','B','C']]

A    0
B    1
C    2
dtype: int32

In [5]:
s1[0:3]

A    0
B    1
C    2
dtype: int32

In [6]:
s1[s1>2]

D    3
E    4
dtype: int32

In [7]:
s1[s1>3] = 10
s1

A     0
B     1
C     2
D     3
E    10
dtype: int32

In [8]:
df1 = pd.DataFrame(np.random.randn(4,5),index=['r1','r2','r3','r4'],columns=['c1','c2','c3','c4','c5'])
df1

          c1        c2        c3        c4        c5
r1 -2.091071 -0.530994  0.341497 -0.988317 -1.328240
r2 -0.794011 -0.494914 -0.728108 -0.666495  0.511893
r3 -0.813414 -0.059143  0.476005 -0.136221  1.158016
r4  0.728546 -1.937596 -0.523791 -0.897217  0.657341

In [9]:
df1['c1']

r1   -2.091071
r2   -0.794011
r3   -0.813414
r4    0.728546
Name: c1, dtype: float64

In [10]:
df1[['c1','c4','c3']]

          c1        c4        c3
r1 -2.091071 -0.988317  0.341497
r2 -0.794011 -0.666495 -0.728108
r3 -0.813414 -0.136221  0.476005
r4  0.728546 -0.897217 -0.523791

In [11]:
df1[df1['c2']>0]

Empty DataFrame
Columns: [c1, c2, c3, c4, c5]
Index: []

In [12]:
df1<0

       c1    c2     c3    c4     c5
r1   True  True  False  True   True
r2   True  True   True  True  False
r3   True  True  False  True  False
r4  False  True   True  True  False

In [13]:
df1.ix['r2']

c1   -0.794011
c2   -0.494914
c3   -0.728108
c4   -0.666495
c5    0.511893
Name: r2, dtype: float64

In [14]:
df1.iloc[1]

c1   -0.794011
c2   -0.494914
c3   -0.728108
c4   -0.666495
c5    0.511893
Name: r2, dtype: float64

In [15]:
df1.loc['r2']

c1   -0.794011
c2   -0.494914
c3   -0.728108
c4   -0.666495
c5    0.511893
Name: r2, dtype: float64

In [16]:
df1.iloc[[0,2,3],[0,2]]

          c1        c3
r1 -2.091071  0.341497
r3 -0.813414  0.476005
r4  0.728546 -0.523791

In [17]:
df2 = df1.copy()
df2['c6'] = ['one', 'one','two','three']

In [18]:
df2

          c1        c2        c3        c4        c5     c6
r1 -2.091071 -0.530994  0.341497 -0.988317 -1.328240    one
r2 -0.794011 -0.494914 -0.728108 -0.666495  0.511893    one
r3 -0.813414 -0.059143  0.476005 -0.136221  1.158016    two
r4  0.728546 -1.937596 -0.523791 -0.897217  0.657341  three

In [19]:
df2[df2['c6'].isin(['two','three'])]

          c1        c2        c3        c4        c5     c6
r3 -0.813414 -0.059143  0.476005 -0.136221  1.158016    two
r4  0.728546 -1.937596 -0.523791 -0.897217  0.657341  three