In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series(np.arange(5),index=['A','B','C','D','E'])
s1

A    0
B    1
C    2
D    3
E    4
dtype: int32

In [3]:
s2 = pd.Series(np.arange(3),index=['A','B','C'])
s2

A    0
B    1
C    2
dtype: int32

In [4]:
s1 + s2

A    0.0
B    2.0
C    4.0
D    NaN
E    NaN
dtype: float64

In [5]:
df1 = pd.DataFrame(np.random.randn(4,5),index=['r1','r2','r3','r4'],columns=['c1','c2','c3','c4','c5'])
df1

          c1        c2        c3        c4        c5
r1  0.516080 -0.374192 -0.202207 -1.575968  1.648073
r2  0.184949 -0.253753  0.181557  0.208043 -0.033542
r3 -0.963129  1.010724  0.925075  0.660480  0.183586
r4  0.064863  1.224550 -1.497357  0.650192  0.373569

In [6]:
df2 = pd.DataFrame(np.random.randn(3,4),index=['r1','r2','r3'],columns=['c1','c2','c3','c4'])
df2

          c1        c2        c3        c4
r1  0.854051  1.865119 -1.207988 -2.373507
r2 -0.174594 -0.109762  0.277680  0.641873
r3  1.029467  1.854886  1.010749  1.063658

In [7]:
df1+df2

          c1        c2        c3        c4  c5
r1  1.370131  1.490927 -1.410194 -3.949475 NaN
r2  0.010355 -0.363515  0.459237  0.849916 NaN
r3  0.066337  2.865611  1.935824  1.724138 NaN
r4       NaN       NaN       NaN       NaN NaN

In [8]:
df1.add(df2,fill_value=1)

          c1        c2        c3        c4        c5
r1  1.370131  1.490927 -1.410194 -3.949475  2.648073
r2  0.010355 -0.363515  0.459237  0.849916  0.966458
r3  0.066337  2.865611  1.935824  1.724138  1.183586
r4  1.064863  2.224550 -0.497357  1.650192  1.373569

In [9]:
s3 = df1.ix[0]
s3

c1    0.516080
c2   -0.374192
c3   -0.202207
c4   -1.575968
c5    1.648073
Name: r1, dtype: float64

In [10]:
df2 - s3

          c1        c2        c3        c4  c5
r1  0.337971  2.239310 -1.005781 -0.797539 NaN
r2 -0.690674  0.264430  0.479887  2.217841 NaN
r3  0.513387  2.229078  1.212956  2.639626 NaN